@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.header {
  height: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $bgSecondColor;
  @include flex(row, flex-end, center, wrap);
}