@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';
@import './../common/components/button/Button.module';

.contactsBlock {
  padding: 100px 0;
  background-color: $bgSecondColor;

  .contactsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .fadeWrapper {
      width: 540px;
      margin-top: 60px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }

      .offer {
        @include flex(column, center, center, nowrap);

        .notification {
          @include flex(column, center, center, nowrap);
          height: 195px;
          width: 100%;
          @include text(inherit, 16px, 1.5, 400);
          border: 1px solid #4a4a4a;
          box-sizing: border-box;
          background-color: $bgColor;
          color: #717175;
          text-align: center;
          margin-bottom: 19px;
        }

        button {
          @extend .btn;
          align-self: center;
          background-color: transparent;
          margin-top: 30px;
          cursor: pointer;
        }

      }

      .contactForm {
        @include flex(column, flex-start, stretch, nowrap);

        .input,
        .textarea {
          background-color: $bgColor;
          border: 1px solid #4a4a4a;
          box-sizing: border-box;
          @include text(inherit, 16px, 1.5, 400);
          outline: none;
          color: #717175;
          margin-bottom: 1.2rem;

          &:-webkit-autofill {
            border: 1px solid #4a4a4a;
            -webkit-text-fill-color: #717175;
            -webkit-box-shadow: 0 0 0 1000px $bgColor inset;
            transition: background-color 5000s ease-in-out 0s;

            &focus {
              border: 2px solid $bgColor;
            }
          }
        }

        .input {
          height: calc(1.5em + .75rem + 2px);
          padding: .4rem 15px;

          &:focus {
            border: 1px solid transparent;
            transition: all 0.4s ease-in-out 0s;
          }
        }

        .textarea {
          max-height: 160px;
          padding: 15px;
          resize: none;

          &:focus {
            border: 1px solid transparent;
            transition: all 0.4s ease-in-out 0s;
          }
        }

        button[type="submit"] {
          @extend .btn;
          align-self: center;
          background-color: transparent;
          margin-top: 30px;
          cursor: pointer;
        }
      }

    }
  }
}