.contactsBlock {
    min-height: 100vh;
    background-color: #f8c9df;
}

.contactsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #eef0f8;
}

.contacts  {
    border: 1px solid;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input {
    box-sizing: border-box;
    font-size: larger;
    background-color: #bec8e0;
}

.message {
    height: 220px;
    font-size: x-large;
    background-color: #bec8e0;
}

.button {
    margin: 20px;
    width: 100px;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
    background-color: #aaeeaa;
}