@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.platformContainer {
  @include flex(column, center, center, wrap);
  margin: 10px;
  flex-basis: 42%;

  .socialIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @include bgSettings();
    &:hover {
    width: 70px;
    height: 70px;
  }
  }

  .platform {
    margin-top: 5px;
    @include text($titleFontFamily, 14px, 1.2, 400);

    &:hover {
      color: $primaryColor;
    }
  }
}