.skillsBlock {
    min-height: 100vh;
    background-color: #c8f1c8;
}

.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #ccd4e7;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

