@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.skillsBlock {
  background-color: $bgSecondColor;
  padding: 100px 0;

  .skillsContainer {
    @include container();
    @include flex(column, center, center, wrap);

    .skills {
      margin-top: 30px;
      width: 100%;
      @include flex(row, space-between, flex-start, wrap);
      box-sizing: border-box;
      @media screen and (max-width: 1072px) {
        @include flex(column, center, center, wrap);
      }
    }
  }
}
