@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.mainBlock {
  height: 100vh;
  background-color: $bgColor;
  @include flex(row, center, center, nowrap);
  padding: 100px 0;

  .fadeWrapper {
    @include container();

    .mainContainer {
      @include flex(row, space-around, center, wrap);

      .greeting {
        @include flex(column, flex-start, flex-start, nowrap);
        color: $textColor;

        span {
          @include text($textFontFamily, 16px, 1.8, 400);

          &:nth-child(2) {
            @include text($titleFontFamily, 46px, 1.2, 700);
            letter-spacing: 5px;
            margin: 10px 0;

            span {
              @include text($titleFontFamily, 46px, 1.2, 700);
              position: relative;
              z-index: 0;
              display: inline-block;

              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 20px;
                background-color: $primaryColor;
                bottom: 0;
                z-index: -1;
              }
            }
          }

          &:nth-child(3) {
            @include text($titleFontFamily, 28px, 1.8, 400);
            margin: 0;
          }
        }


        @media screen and (max-width: 1240px) {
          align-items: center;
        }
      }

      .photo {
        position: relative;
        z-index: 1;
        @media screen and (max-width: 1239px) {
          margin-top: 50px;
        }

        .image {
          height: 400px;
          width: 300px;
          @include bgSettings();
          background-image: url('./../assets/images/photo.jpg');
          background-position: 80% 0;
          @media screen and (max-width: 600px) {
            height: 360px;
            width: 260px;
            transition: .5s;
          }

          &:before {
            content: "";
            position: absolute;
            height: 110%;
            width: 105%;
            border: 5px solid $primaryColor;
            left: 15px;
            top: -15px;
            z-index: -1;
          }
        }
      }
    }

  }
}