@import './../../common/styles/sass/variables';
@import './../../common/styles/sass/mixins';

.project {
  background-color: $bgSecondColor;
  width: 425px;
  margin-bottom: 30px;
  @include flex(column, center, flex-start, wrap);

  .image {
    position: relative;
    width: 100%;
    height: 250px;
    @include bgSettings();
    @include flex(row, center, center, wrap);

    &::before {
      position: absolute;
      content: "";
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    &:hover {
      color: $primaryColor;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2, 400);
      letter-spacing: 1px;
      margin: 0 0 5px;
      width: min-content;

    }

    .description {
      @include text($textFontFamily, 12px, 1.8, 400);
    }
  }

  @media screen and (max-width: 500px) {
    width: 300px;
  }
}