.project {
    width: 300px;
    background-color: #edeff5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.imageContainer {
    width: 100%;
    height: 200px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6_ILgZWXcOxHfEBM1MxoVgeKGRt4W2ysxPQ&usqp=CAU");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #9eea9e;
    width: 100px;
    height: 50px;
    font-size: x-large;
    font-weight: bold;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #bec8e0;
    width: min-content;
    margin-left: 10px;
}

.description {
    background-color: #bec8e0;
    width: 260px;
    margin-left: 10px;
    margin-bottom: 10px;
}