@import './../common/styles/sass/variables.scss';
@import './../common/styles/sass/mixins.scss';

.footer {
  background-color: $bgColor;
  @include flex(row, center, stretch, nowrap);

  .footerContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    padding: 80px 0;

    .socialIcons {
      @include flex(row, center, center, wrap);
      max-width: 400px;
      width: 100%;
      margin-top: 30px;
      @media screen and (max-width: 450px) {
        @include flex(row, center, center, wrap);
      }
    }

    .copyRight {
      margin-top: 40px;
      text-align: center;
      @include text($textFontFamily, 14px, 1.8, 300);
    }
  }
}