.footer {
    height: 240px;
    background: #b7f5b7;
}

.footerContainer {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    background-color: #b5b9cb;
    text-align: center;
}

.iconContainer {
    border: 1px solid;
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #b5b9cb;
}