@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.projectsBlock {
  background-color: $bgColor;
  padding: 125px 0;

  .projectsContainer {
    @include container();
    @include flex(column, center, center, wrap);

    .projects {
      margin-top: 40px;
      width: 100%;
      @include flex(row, space-around, flex-start, wrap);
      box-sizing: border-box;
      @media screen and (max-width: 1215px) {
        justify-content: center;
      }
    }
  }
}